html {
    scroll-behavior: smooth;
}

#scroll_to_top {
    z-index: 100;
    position: fixed;
    width: 90px;
    height: 90px;
    bottom: 50px;
    right: 30px;
}

#scroll_to_top img {
    width: 90px;
}